/*
Developer: Nicky Boyle/hopeprskotch
Date: August 31, 2026
Created and designed CSS file for hopperskotch.com
*/

body {

    background-color: hsl(0, 0%, 98%);
    font-family: sans-serif;
    color: hsl(0, 0%, 0%);
    font-size: 1em;
    text-align: left;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em;
    padding-left: 1%;
}

h2 {

    font-size: 1.2em;
    font-style: italic;
    padding-left: 1%;
}

h3 {

    font-size: 1.1em;
    padding-left: 1%;
}

ul {

    list-style-type: none;
    text-align: left;
    padding-left: 1%;
}

a, a:visited {

    text-decoration: none;
    color: hsl(0, 0%, 50%);
}

a:hover, a:focus {

    text-decoration: none;
    color: hsl(0, 0%, 60%);
}

a:active {

    text-decoration: line-through;
    color: hsl(0, 0%, 18%);
}

main {

    padding-left: 4%;
    flex: 1;
}

img {

    padding-top: 1%;
}

aside {

    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(0, 0%, 49%);
    padding-bottom: 3%;
}

footer {

    min-height: 10em;
    font-size: .9em;
    text-align: center;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 0%, 98%);
    padding: 1%;
    
}
