#mainbodydecor {
	background-color: #EEE8AA;
	font-family: Verdana;
	color: #B8860B;
	text-align: center;
}
#sky {
	overflow: hidden;
	background-color: #EEE8AA;
	font-family: Verdana;
	color: #B8860B;
	text-align: center;
}
#basicbodydecor {
	background-color: #EEE8AA;
	font-family: Verdana;
	text-size: large;
	text align: left;
	color: #422704;
	margin: 5%;
}
#hopper {
	height: 99%;
	width: 100%;
	border: 2px solid;
	border-color: #B8860B
}
#nicky {
	width: 98%;
}
#navigation {
	width: 15%;
	vertical-align: top;
	}
#content {
	width: 75%;
	padding: 50px;
}
#mainnavdecor {
	text-align: left;
}
#basicnavdecor {
	padding-top: 20px;
	text-align: center;
	background-color: #B8860B;
	font-size: 26px;
	padding: 0px 10px;
}
#basicnavdecor a{
	margin-right: 30px;
}
#mainbodydecor a:link {
	color: #DAA520;
	text-decoration: none;
}
#mainbodydecor a:visited {
	color: #B8860B;
	text-decoration: none;
}
#mainbodydecor a:hover {
	color: #422704;
	text-decoration: none;
}
#mainbodydecor a:active {
	color: #8B4513;
	text-decoration: none;
}
#basicbodydecor a:link {
	color: #FFFFFF;
	text-decoration: none;
}
#basicbodydecor a:visited {
	color: #EEE8AA;
	text-decoration: none;
}
#basicbodydecor a:hover {
	color: #422704;
	text-decoration: none;
}
#basicbodydecor a:active {
	color: #DAA520;
	text-decoration: none;
}
ul {
	list-style-position: inside;
}
main {
	min-height: 98%;
	margin-bottom: -100px;
	text-align: center;
}
main:after {
	content: "";
	display: block;
	height: 100px;
}
footer {
	text-align: center;
	height: 20px;
	color: #DAA520;
	font-size: small;
}
#earth {
	color: #422704;
	padding-bottom: 20px;
}